<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks</title>
  <%= stylesheet_link_tag "bar.css" %>
  <%= csrf_meta_tag %>
  <meta http-equiv="CACHE-CONTROL" content="PUBLIC"/>
  <meta http-equiv="EXPIRES" content="Sat, 01 Jan 2050 00:00:00 GMT"/>
</head>
<body class="blinkmarkbar">

<%= link_to image_tag("bar_logo.png"), root_path, :class => "l rm_10 logo", :target => "_top", :title => "Click to goto BlinkMarks.com" %>
<%= yield %>

<!--
<% if user_signed_in? %>
  <%= link_to 'Logout', destroy_user_session_path %>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>
-->

<%= render :partial => "shared/javascripts" %>
</body>
</html>
