<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.text_field :email, :class => 'autobox', :value => "Email" %></p>

  <%= f.password_field :password, :class => 'autobox', :value=> "Password" %></p>

  <%= f.password_field :password_confirmation, :class => 'autobox', :value => 'Password Confirmation' %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
